body{
    background: aquamarine;
  }
  .hidden{
    display: none;
  }
  h1{
    font-size: 100px;
  }
  
  #viewer .wrapper{
    position: relative;
    overflow: hidden;
  }
  #viewer h1{
    position: absolute;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    transition: 5s all ease-in;
  }
  #viewer h1.show{
    left: 0px !important;
    opacity: 1;
  }
  #viewer :nth-child(even) h1{
    left: -200px;
  }
  #viewer :nth-child(odd) h1{
    left: 200px;
  }
  #viewer :nth-child(1) h1{
    color: #aa0000;
  }
  #viewer :nth-child(2) h1{
    color: #990000;
  }
  #viewer :nth-child(3) h1{
    color: #880000;
  }
  #viewer :nth-child(4) h1{
    color: #770000;
  }
  #viewer :nth-child(5) h1{
    color: #660000;
  }
  #viewer :nth-child(6) h1{
    color: #550000;
  }
  #viewer :nth-child(7) h1{
    color: #440000;
  }
  #viewer :nth-child(8) h1{
    color: #330000;
  }
  #viewer :nth-child(9) h1{
    color: #220000;
  }
  #viewer :nth-child(10) h1{
    color: #110000;
  }